/* Common CSS */

/* mobile web page font size     */
/* @media only screen and (max-width:768px),only screen and (max-device-width:768px) {
    body,html {
        font-size: 104px;
    }
}
@media only screen and (max-width:750px),only screen and (max-device-width:750px) {
    body,html {
        font-size: 100px;
    }
}
@media only screen and (max-width:640px),only screen and (max-device-width:640px) {
    body,html {
        font-size: 85.33px;
    }
}
@media only screen and (max-width:600px),only screen and (max-device-width:600px) {
    body,html {
        font-size: 80px;
    }
}
@media only screen and (max-width:540px),only screen and (max-device-width:540px) {
    body,html {
        font-size: 72px;
    }
}
@media only screen and (max-width:480px),only screen and (max-device-width:480px) {
    body,html {
        font-size: 64px;
    }
}
@media only screen and (max-width:414px),only screen and (max-device-width:414px) {
    body,html {
        font-size: 55.2px;
    }
}
@media only screen and (max-width:412px),only screen and (max-device-width:412px) {
    body,html {
        font-size: 54.8px;
    }
}
@media only screen and (max-width:400px),only screen and (max-device-width:400px) {
    body,html {
        font-size: 53.33px;
    }
}
@media only screen and (max-width:375px),only screen and (max-device-width:375px) {
    body,html {
        font-size: 50px;
    }
}
@media only screen and (max-width:360px),only screen and (max-device-width:360px) {
    body,html {
        font-size: 47.8px;
    }
}
@media only screen and (max-width:320px),only screen and (max-device-width:320px) {
    body,html {
        font-size: 42.4px;
    }
} */

/* default style clean */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* html{
    font-size: 5.33333333vw;
} */

body{
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
    background-color: #eee;
}

ul{
    list-style: none;
}

img{
    border: none;
    vertical-align: top;
}

.clearfix::after,
.clearfix::before{
    content: "";
    display: table;
    clear: both;
}

/* focus on middle */
.center{
    width: 1090px;
    margin: 0 auto;
}


/* ----------Header---------- */
.header{
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #b0b0b0;
}

/* logo */
.header-wrapper .logo{
    float: left;
    line-height: 80px;
}

.header-wrapper .logo a{
    color: #b0b0b0;
}

.header-wrapper .logo img{
    width: 110px;
    height: 110px;
    float: left;
    margin-top: -15px;
}

/* nav */
.header-wrapper .nav{
    float: right;
    height: 100px;
    margin-left: 250px;
}

.header-wrapper .nav li{
    /* font-size: 16px; */
    float: left;
    line-height: 80px;
    width: 80px;
    margin: 0 30px; 
}

.header-wrapper .nav li a{
    color: #b0b0b0;
}

.header-wrapper .nav li a:hover{
    color: #fff;
}

.fixed{
    position: sticky;
    top: 0;
    z-index: 1;
    animation: reback .4 ease-in forwards;
}

@keyframes reback{
    100%{
        top: 0;
        height: 80px;
    }
}

/* -----------Footer---------- */
footer{
    height: 300px;
    margin-top: 20px;
    text-align: center;
}

footer .top{
    height: 400px;
    margin-bottom: 20px;
}

footer .top p{
    margin-top: 20px;
}

footer .bottom{
    height: 300px;
    background: #333;
    color: #b0b0b0;
}

footer .bottom span{
    line-height: 300px;
    margin-left: 10px;
}



