/* Contact Us CSS Style */

body{
    width: 100%;
    height: 100%;
    background: #eee;
}

/* ----------Content------------ */
.content {
    margin-bottom: 20vh;
}

/* title */
.content .content-wrapper > .title{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.content .title h2{
    font-size: 35px;
}

/* info */
.content .box{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.content .box .info{
    width: 300px;
    margin-left: 50px;
}

.content .box .info .img{
    font-size: 80px;
    margin-bottom: 10px;
}

.content .box .info .title{
    font-size: 22px;
    margin-bottom: 20px;
}

.content .box .info .detail p{
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

/* message board */
.content .message{
    width: 100%;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* board */
.content .message .message_box{
    width: 40vw;
    height: 50vh;
    background: #fff;
    margin: 3vh auto;
    /* 开启BFC避免外边距重叠 */
    overflow: hidden;
}

/* type bar */
.content .message .enter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .message .enter input{
    width: 65%;
    height: 30px;
    outline: 0;
    border: 1px solid rgb(224,224,224);
    padding: 0 10px;
}

.content .message .enter input:focus{
    border-color: rgb(52,152,219);
}

.content .message .enter button{
    width: 10%;
    height: 30px;
    background: rgb(52,152,219);
    outline: 0;
    border: 1px solid rgb(224,224,224);
}

.content .message .enter button:active{
    border-color: rgb(0,0,0);
}


/* message board info */
.message .time{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.message .message_cotent{
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}


