/* Leadership CSS Style */

/* ---------Content---------- */

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* title */
.content .title{
    margin-top: 20px;
    text-align: center;
}

.content .title h2{
    font-size: 35px;
}

/* profile */
.content .profile{
    width: 100%;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .profile li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* text-align: center; */
}

.content .profile .img{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.content .profile .description{
    width: 50%;
}

.content .profile .description .name{
    font-size: 35px;
    margin-bottom: 2px;
    border-bottom: 5px solid #e8e8e8;
}

.content .profile .description .position{
    border-bottom: 5px solid #e8e8e8;
    margin-bottom: 5px;
}

/* load more */
.content .load{
    padding:0 15px;
	width:220px;
	height:50px;
	background-color:#B8860B;
	color:#fff;
	line-height:50px;
	text-align:center;
	border-radius:5px;
	margin:20px auto;
	border:0 none;
	font-size:16px;
    margin-top: 15vh;
    display: block;
}

/* previous year leadership */
.content .prev-leader .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .prev-leader .title h3{
    margin-top: 1vh;
}

.content .prev-leader{
    /* 通过js动态设置显示或者不显示 */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Put away button */
.content .prev-leader .back{
    display: none;
    padding:0 15px;
	width:220px;
	height:50px;
	background-color:#B8860B;
	color:#fff;
	line-height:50px;
	text-align:center;
	border-radius:5px;
	margin:20px auto;
	border:0 none;
	font-size:16px;
    margin-top: 15vh;
}

 /* psy */
.content .prev-leader .psy{
    margin-right: 2vw;
} 

/* mobile device */
@Media screen and (max-width: 900px){
    .content .profile li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content .profile li .img{
        margin-bottom: 20px;
    }

    .content .profile li .description{
        padding-left: 10vw;
    }
}